@import "tailwindcss";

:root {
  --background: #3C4142; 
  --foreground: #FAFAFA; 
  --neon-pink: #FF7AED;
  --neon-blue: #6df1d8;
  --neon-yellow: #ffe700;
  --neon-green: #74ee15;
  --neon-red: #FF3131;
  --neon-blend: linear-gradient(45deg, var(--neon-pink), var(--neon-blue));
}

.gradient-text {
  background-image: var(--neon-blend);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.-border-bottom-gradient {
    border-bottom: 2px solid transparent !important; 
    background: linear-gradient(var(--background), var(--background)) padding-box, 
                var(--neon-blend) border-box; 
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.neon-hover-link {
    transition: color 0.2s ease-in-out; 
    color: #fff;
    opacity: 0.7;
}

.neon-hover-link:hover {
    background-image: var(--neon-blend);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
  opacity: 1;
}

body {
  background-color: var(--background);
}