.projectGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .projectGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.actionWrapper {
  text-align: center;
  margin-top: 4rem;
}
